<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/stylesheet1.css">
</head>
<body>
    <header>
        <h1>My Store</h1>
    </header>
    <!-- <h2 style="background-color: aqua;">My store</h2> -->
     <%- body %>
     <!-- <h4 style="background-color: aquamarine;">Footer</h4> -->
      <footer>
        <p>&copy; 2023 My Store. All rights reserved.</p>
      </footer>
</body>
</html>