<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/stylesheet1.css">
</head>
<body>
    <header>
        <h1>NextWave</h1>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/products">Products</a></li>
           <li><a href="/users">Users</a></li>
           <li><a href="/login">Login</a></li>
           <li><a href="/logout">Logout</a></li>
        </ul>
    </header>
    <!-- <h2 style="background-color: aqua;">My store</h2> -->
     <%- body %>
     <!-- <h4 style="background-color: aquamarine;">Footer</h4> -->
      <footer>
        <p>&copy; 2026 My Store. All rights reserved.</p>
      </footer>
</body>
</html>